/* Autores: Guzman da Silveira y Felipe Martinez */

body {
    
    margin: 0;
    background-color: white;
  }
  
  header {
    text-align: center;
    background-color: white;
    padding: 1em;
  }
  
  header img {
    max-width: 300px;
    display: block;
    margin: 1em;
  }
  
  nav {
    text-align: left;
    background-color: #f4f4f4;
    padding: 1em;
  }
  
  nav button {
    margin: 0 0.5em;
  }
  
  main {
    padding: 1em;
  }
  
  section {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #e0f0e0;
  }
  
  article {
    background-color: #90ee90;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
  }
  
  h1, h2, h3 {
    color: #00254a;
    font-family: "Helvetica", sans-serif;
  }
  
  form label {
    margin: 0.5em 0;
  }
  
  button {
    margin-top: 1em;
  }

  select[multiple] {
    height: 100px;
    min-width: 100px;
  }
  
  footer {
    background-color: #fefee0;
    text-align: center;
    padding: 1.5em;
    font-size: 0.9em;
    border-radius: 10px;
  }
