
img {
    display: block;
    margin-inline: auto;
}
section {
    background-color: #D5F4D4;
    padding: 20px 20px 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 15px;
}
article {
    background-color: #00FF7F;
    border-color: #00FF7F;
    padding: 10px 0px 2px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

article button {
    display: block;
}

label {
    display: block;
}




input[type="text"] {
    width: 120px;
}
input[type="number"] {
    width: 120px;
}

select {
    min-width: 80px;
}

th {
    border: 1px solid black;
    border-collapse: 0;
}

footer {
    background-color: #F0F4D4;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 
1) la label TIPO DE CORREDOR, esta en linea con los radio button
2) Same con la label ORDENAR POR
3) los radio buttons tienen mucho más espacio que el normal entre los elementos que lo rodean y entre el circulito y su texto
4) chequear el tipo de letra que tiene todo
5) el boton agregar carrera tiene casi el mismo largo que el input de arriba y esta centrado
6) la tabla quedan raros los bordes 
*/