
img {
    display: block;
    margin-inline: auto;
}
section {
    background-color: #D5F4D4;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 15px;
}
article {
    background-color: #00FF7F;
    border-color: #00FF7F;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

article.mapa {
    min-height: 400px;
}

article button {
    display: block;
}

label, input, select {
    display: block;
}


label.radio-label {
    display: inline-flex;
}
input.radio {
    display: inline-flex;
    margin-inline-start: 20px;
    margin-inline-end: 15px;
}

input[type="text"] {
    width: 120px;
}
input[type="number"] {
    width: 120px;
}

select {
    min-width: 80px;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

footer {
    background-color: #F0F4D4;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* 
1) chequear el tipo de letra que tiene todo
2) el boton agregar carrera tiene casi el mismo largo que el input de arriba y esta centrado
3) los padding del final en la section Estadisticas y en 
*/